In [4]:
%pwd

'C:\\Code'

In [5]:
import pandas as pd
df = pd.read_csv('Files/Gradient_Descent/test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [15]:
import math

def gradient_descent(x,y):
    m_curr = b_curr = 0
    iterations = 1000
    n = len(x)
    learning_rate = 0.08
    
    for i in range(iterations):
        if math.isclose(cost, prev_cost, rel_tol=1e-20, abs_tol=1e-20):
            y_predicted = m_curr * x + b_curr
            cost = (1/n) * sum([val**2 for val in (y-y_predicted)])
            md = -(2/n)*sum(x*(y-y_predicted))
            bd = -(2/n)*sum(y-y_predicted)
            m_curr = m_curr - learning_rate * md
            b_curr = b_curr - learning_rate * bd
            print("m {}, b{}, cost {}, iteration {}".format(m_curr,b_curr,cost,i))
        else:
            print('Cost is now the same as previous cost!')

x = df['math'].values
y = df['cs'].values

gradient_descent(x,y)

UnboundLocalError: cannot access local variable 'cost' where it is not associated with a value