In [4]:
import pandas as pd
df = pd.read_csv('../Files/Naive_Bayes/spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [9]:
df['spam'] = df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df[['Message']],df.spam,test_size=0.25)

Count Vectorizer

Think of four different snippets. Each snippet has a sentence. Take all the unique words.

Each unique word - Four rows - Count the frequency of the word in each of the fours snippet.

Four rows.

Three types of Naive Bayes

Bernoulli Naive Bayes: Assumes that all our features are binary. 0s can represent 'word does not occur in document'. 1s - 'word occurs in document.'

Multinomial Naive Bayes: Used with discrete data (i.e movie ratings ranging from 1-5. Each rating has certain frequency to represent). Text learning - 
we have count of each word to predict the class/label.

Gaussian Naive Bayes - normal distribution assumption. When features are continuous. I.e iris dataset, sepal width etc.

In [ ]:
from sklearn