In [1]:
import pandas as pd
df = pd.read_csv('../Files/Decision_Tree/salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le = LabelEncoder()

In [5]:
inputs['company'] = le.fit_transform(inputs['company'])
inputs['job'] = le.fit_transform(inputs['job'])
inputs['degree'] = le.fit_transform(inputs['degree'])
inputs

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

In [6]:
from sklearn import tree

In [7]:
model = tree.DecisionTreeClassifier()

In [8]:
model.fit(inputs,target)
# should ideally use train_test_split, here. This is just for simplicity sake

DecisionTreeClassifier()

In [9]:
model.score(inputs,target)
# expected result since 'testing' it on the training set anyway

1.0

In [11]:
model.predict([[2,2,1]])

C:\Users\ACER\.conda\envs\condaenv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [12]:
model.predict([[2,0,1]])

C:\Users\ACER\.conda\envs\condaenv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)