In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [7]:
df = pd.read_csv('Files/Multivariate_Regression/homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
# df.bedrooms will give us a Pandas SERIES
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [15]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [17]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [18]:
reg.intercept_

221323.00186540384

In [21]:
reg.predict([[5000,4,5]])

C:\Users\ACER\.conda\envs\condaenv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([859032.14234467])

In [22]:
112.06244194*5000+23388.88007794*4+-3231.71790863*5+221323.00186540384

859032.1423340138